.projectShow {
  max-width: 1000px;
  margin: 0 auto;
}

.projectShow > h3 {
  display: inline-block;
  margin-right: 10px;
}

.projectDetails {
  margin: 20px auto;
  border: 2px solid #DDD;
}

.projectDetails > div {
  display: inline-block;
}

.projectImage img {
  vertical-align: middle;
  margin: 5px;
  max-height: 200px;
  max-width: 200px;
}

.project-body {
  /* position: relative; */
  border: 1px solid yellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  height: calc(100vh - 254px);
  /* bottom: 20px; */
}

.chat-room-container {
  /* display: relative; */
  grid-column: 4 / 6;
  /* bottom: 20px; */
}
