.projectShow {
  max-width: 1000px;
  margin: 0 auto;
}

.projectShow > h3 {
  display: inline-block;
  margin-right: 10px;
}

.projectDetails {
  margin: 20px auto;
  border: 2px solid #DDD;
}

.projectDetails > div {
  display: inline-block;
}

.projectImage img {
  vertical-align: middle;
  margin: 5px;
  max-height: 200px;
  max-width: 200px;
}

.project-body {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 5px;
  height: calc(100vh - 256px);
}

.chat-room-container {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border: 2px solid white;
}

.calendar-container {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  height: 100%;
}

.chat-input {
  display: flex;
  position: absolute;
  bottom: 2px;
  height: 75px;
  width: calc(100% - 4px);
  margin-left: 2px;
}

.new-message-input-field {
  resize: none;
  width: calc(100% - 45px);
  height: calc(100% - 6px);
  display: inline-block;
}

.send-message-button {
  height: 100%;
  width: 45px;
  display: inline-block;
}

.messages-container ul {
  list-style-type: none;
}
