.resultsEach {
  display: inline-block;
  margin: 0 5px;
  width: 290px;
  height: 600px;
  border: 1px solid black;
}

.black {
  border: 1px solid black;
}

.gold {
  border: 2px solid gold;
}

.resultsEach img {
  display: block;
  width: 280px;
  margin: 5px auto;
}

.resultsEach p {
  margin: 5px;
}
