.signup form {
  display: grid;
  grid-template-columns: auto 1fr;
}

.signup label {
  grid-column: 1 / 2;
}

.signup input {
  grid-column: 2 / 3;
}

.signup {
  max-width: 500px;
  margin: 0 auto;
}
