.userShow {
  max-width: 1000px;
  margin: 0 auto;
}

.userShow > h3 {
  display: inline-block;
  margin-right: 10px;
}

.userDetails {
  margin: 20px auto;
  border: 2px solid #DDD;
}

.userDetails > div {
  display: inline-block;
}

.imageContainer img {
  vertical-align: middle;
  margin: 5px;
  max-height: 200px;
  max-width: 200px;
}

.userProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
